@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?pg6ufj');
	src:url('../fonts/icomoon/icomoon.eot?#iefixpg6ufj') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?pg6ufj') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?pg6ufj') format('woff'),
		url('../fonts/icomoon/icomoon.svg?pg6ufj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logoride:before {
	content: "\e600";
}
.icon-mail:before {
	content: "\e601";
}
.icon-ticket:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
