.footer
  background-color: $color-yellow
  color: $color-black
  padding: .5rem
  display: flex
  border-top: 3px solid $color-blue-strong
  justify-content: space-between
  align-items: center
  &__colombia-dev
    display: flex
    flex-direction: column
    align-items: center
    &__text
      margin: 0 0 .3rem
    &__logo
      width: 4rem
    &__ruta-n
      display: flex
      justify-content: center
      align-items: center
      &__text
        margin: 0
        margin-right: .5rem
  &__cod
    &__link
      color: inherit
      &:hover
        color: white
  &__follow-us
    display: flex
    justify-content: center
    align-items: center
    &:before
      margin-right: .5rem
      font-size: 1.5rem
      color: $color-white
      content: '\e603'
      font-family: icomoon
    &__link
      color: inherit
      margin-left: .6rem
      &:hover
        color: $color-white